 
 <h3> Welcome {{name}} </h3>

 <p> Here are your transaction history </p>
 {{#if stories}}
        <table class= "striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Date</th>
                    <th>TXN</th>
                </tr>
            </thead>

            <tbody>
                {{#each stories}}
                    <tr>
                        <td><a href="/stories"{{_id}}></a>{{Description}}</td>
                        <td>{{formatDate createdAt 'Do MMMM YYYY, h:mm:ss a'}}</td>
                        <td><span class= "dash-status">{{transaction}}</span></td>
                        <td>
                            <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-backspace"></i>
                    </button>
                </form>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
 {{else}}
        <p>No transaction has been performed</p>
 {{/if}}